.masterDiv {
    display: flex;
  }

.blob {
  background: #f0ab00;
  border-radius: 50%;
  margin: 10px 10px 8px 10px;
  height: 6px;
  width: 6px;
  min-width: 6px;
  max-height: 6px;

  box-shadow: 0 0 0 0 rgba(240, 171, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(240, 171, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(240, 171, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(240, 171, 0, 0);
  }
}
