.container,
.socialContainer, .techs {
  padding: 12px;
  display: grid;
}

.container {
  overflow: hidden;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.socialContainer {
  grid-template-columns: repeat(3, 1fr);
}

.techs {
  overflow: auto;
  padding: 12px 0;
  place-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
}

.techLogo{
  padding-bottom: 20px;
  max-height: 38px;
  max-width: 38px;
}

.container > div,
.item {
  background: #4040401c;
  border-radius: 8px;
}

.col1 {
  padding-top: 20px;
  text-align: center;
}

.col1 > .name {
  padding-top: 12px;
  font-size: 50px;
  font-weight: 200;
}

.col1 > .desc {
  padding: 4px;
  font-size: large;
}

.avatar {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

.col2, .col3 {
  padding: 20px;
}

.heading{
  font-size: 28px;
  font-weight: 300;
}

@media screen and (max-width: 622px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .avatar {
    width: 270px;
    height: 270px;
  }
}
