.header {
  cursor: pointer;
  padding: 6px;
  background-color: #0089cc;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px 8px 0 0;
}

.content {
  padding: 15px;
  font-size: 14px;
  border-radius: 0 0 8px 8px;
  border-bottom: 0.5px solid #80808057;
  border-left: 0.5px solid #80808057;
  border-right: 0.5px solid #80808057;
}
